<form method="POST" action="">
	<div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="firstName" class="form-control" id="firstName" placeholder="Enter your first name" name="firstName">
    </div>

<div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="lastName" class="form-control" id="lastName" placeholder="Enter your last name" name="lastName">
    </div>

<div class="form-group">
      <label for="clinic">Clinic Name:</label>
      <input type="clinic" class="form-control" id="clinic" placeholder="Enter your clinic" name="clinic">
    </div>

<div class="form-group">
      <label for="therapist">therapist:</label>
      <input type="therapist" class="form-control" id="therapist" placeholder="Enter your therapist name" name="therapist">
    </div>
 <button type="submit" class="btn btn-default">Add</button>	
</form>
