<div class="form">

<form method="POST" action="">
  <div class="form-head">
      <h2>Book Appointment</h2>
  </div>

  <div class ="form-body">
  
    <div class="form-group col">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" name="firstName">
    </div>

<div class="form-group col">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" name="lastName">
    </div>

<div class="form-group col">
      <label for="clinic">Clinic Name:</label>
      <input type="text" class="form-control" id="clinic" placeholder="Enter your clinic" name="clinic">
    </div>

<div class="form-group col">
      <label for="therapist">Therapist:</label>
      <input type="text" class="form-control" id="therapist" placeholder="Enter your therapist name" name="therapist">
    </div>

<div><h4>Date Pick</h4></div>

<div class ="row form-row ">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="Number" class="form-control" id="year" placeholder="Enter year" name="year">
    </div>
    </div><div class="col-sm-6">
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="Number" class="form-control" id="year" placeholder="Enter year" name="year">
    </div>
    </div>

</div>

<div class = "row form-row ">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="Number" class="form-control" id="year" placeholder="Enter year" name="year">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="Number" class="form-control" id="year" placeholder="Enter year" name="year">
    </div>
    </div>
</div>
    <button type="submit" class="btn btn-appointment btn-success">Add</button>	

  </div>

</form>

</div>