<h2>Welcome to check all the therapist and see if they are available. </h2>

<ul>
  <li>
    <div> 
      <h3> Example Therapist </h3>
      <div class="col"><p>if available : yes</p></div>
      <div > <button>make appointment</button></div>
      
    </div>
  </li>
  <li>
    <div> 
      <h3> Example Therapist </h3>
      <div class="col"><p>if available : yes</p></div>
      <div > <button>make appointment</button></div>
      
    </div>
  </li>
  <li>
    <div> 
      <h3> Example Therapist </h3>
      <div class="col"><p>if available : yes</p></div>
      <div > <button>make appointment</button></div>
      
    </div>
  </li>
 
</ul>




<style>
  li{
    margin:20px;
    border-color: mediumblue;
  }
  .col {
    float: left;
    width: 50%;
}
</style>
