<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/base.css" type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Final Project Chloe</title>
</head>
<body>
   <header>
  <div class="page-header">
    <h1>Flex VR System</h1>      
  </div>
</header>



    <section>
  <nav>
    <ul>
         <a href="/" class="btn-lg btn-info" role="button">
             <span class="glyphicon glyphicon-home"></span>
             Main Page</a>
        <a href="/search" class="btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span> 
            Search for therapist</a>           
        <a href="/myInfo" class="btn-lg btn-info" role="button">
             <span class="glyphicon glyphicon-user"></span>
             Patient Information</a>
            <a href="/myAppt" class="btn-lg btn-info" role="button">
                 <span class="glyphicon glyphicon-th-list"></span>
                 My appointments</a>
             <a href="/add" class="btn-lg btn-info" role="button">
                 <span class="glyphicon glyphicon-pencil"></span>
                 add new Appointment</a>
    </ul>
  </nav>
  <article>
 {{{body}}}
  </div>
  </article>
</body>
</html>