* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: steelblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
h1{
    text-align: center;
    background-color: steelblue;
    color: white;
    height: 100px;
}

nav {
    float: left;
    width: 25%;
    background: #ccc;
    padding: 20px;
    height: 600px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: #f1f1f1;
   
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #97a8a2;
  }

  a:link, a:visited {
    background-color: steelblue;
    color: white;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }
  
  a:hover, a:active {
    background-color: rgb(158, 228, 195);
  }




  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  div.form
{
  text-align: center;
  margin: auto;
}
form
{

  width:90%;
    display: inline-block;
    text-align: center;
}
.col{
  width:60%;
  margin : 0 auto;
}
.Appt{
  width:90%;
  margin : 0 auto;
}
.appt-head{
  margin : 0 auto;
  text-align: center;
}